@model CourseCreateInputModel

<h1>@ViewData["Title"]</h1>

<form method="post">
    <div class="row">
        <div class="col-sm-8">
            
            <input type="text" asp-for="NomeCorso" class="form-control form-control-lg" placeholder="Titolo del Corso..." />
            <span class="text-danger"  asp-validation-for="NomeCorso"></span>
        </div>
        <div class="col-sm-4">
            <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="fas fa-rocket"></i> Crea Corso!</button>
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
    </div>
</form>

@section script{
    <partial name="_Validation"></partial>
}