@model HomeViewModel
<h1 class="display-1">Home Page</h1>

<section class="mt-5">
    <h2>Aggiunti di Recente</h2>
@foreach (CourseViewModel course in Model.MostRecentCourses)
{
    <partial name ="Courses\_CourseLine" model="@course"></partial>
}
</section>
<section class="mt-5">
    <h2>I Migliori di Sempre</h2>
@foreach (CourseViewModel course in Model.BestRatingCourses)
{
    <partial name ="Courses\_CourseLine" model="@course"></partial>
}
</section>
